<!DOCTYPE html>
<html>
<head>

  <title>Data Sharing Platform</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="../static/js/jquery.js"></script>
  <script src="../static/leaflet/leaflet.js"></script>
  <script src="../static/js/proj4.js"></script>
  <script src="../static/js/proj4leaflet.js"></script>
  <link rel="stylesheet" href="../static/css/polarmap.css"/>
  <link rel="stylesheet" href="../static/leaflet/leaflet.css">
  <link rel=stylesheet type=text/css href="../static/css/style.css">


</head>

<body>
<div class="container">
<p>hi</p>
 </div>
 <div id="llmap"></div>

 <div id="map"></div>

 <script src="../static/js/map.js"></script>
</body>
</html>
