h1, h2, h3, h4, h5, h6{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    
}

p b{
	color: rgb(62, 41, 40);
}

body{
	background-color: rgba(95,158,160,0.6);
	font-family: 'Raleway', sans-serif;
	
}

hr{
	padding: 1px;
	margin: 1px;
}


a{
	color: rgb(93, 62, 60);
}

.footertext{
	
	text-align: center;
	float: none;
}

.navbar-text{
	color: white;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #343a40;
    color: white;
    text-align: center;
    font-size: 90%;
    padding-top: 0.3%;
}



#side{
	
	position: absolute;
	padding-top: 59px;
    padding-bottom: 30px;
	width: 250px;
    height: 100%;
    float: left;
    background-color: rgba(61, 100, 102,0.6);
}

#side-content{
	width: 100%;
    height: 100%;
	direction: rtl;
	padding-left: 13px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 13px;
	overflow-y: auto;
	float: left;
}

#attribution{
	position:relative;
}


#datasets-content{
	position:relative;
	width: 100%;
    height: 320px;
    overflow-y: scroll;
    //background-color: darkgrey;
    padding: 5px;
    padding-top: 0px;
    font-size: 13px;
	direction:ltr;
	
}

.text{
	padding-left: 7px;
	padding-right: 7px;
}


#datasets{
	position:relative;
	border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    direction:ltr;
    background-color: darkgrey;
}


#scroll-icon{
	position: absolute;
	bottom: 20px;
	right: 7px;
}

#total-result{
	margin-left: 3px;
	margin-bottom: 3px;
}

#datasets-list{
	background-color: lightgrey;
}


#myInput {
  width: 100%;
  font-size: 16px;
  padding: 3px;
  padding-left: 6px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  margin-top: 3px;
  font-size: 12px;
}

.small{
	font-size: 12px;
}

#datasets-bar{
	margin: 4px;
	margin-bottom: 10px;
}

#myTable td:hover { 
	cursor: pointer;
	}


.info-button{
    /*fix border opacity*/
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255,255,255,0.8);
    background-image: url(../img/info2.png);
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: 6px;
    background-color: rgba(0,60,136,.5);
    border-radius: 50%;
    color:white;
   	padding-left: 20px;
   	display: inline;
   	margin: 3px;
}

.info:hover{
	cursor: pointer;
}

#png{
	margin-top: 10px;
    width: 100%;
    //height: 29px;
    border: 3px solid rgba(255,255,255,0.8);
    background-image: url(../img/download.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 7px;
    background-color: rgba(0,60,136,.5);
    border-radius: 4px;
    padding: 5px;
    padding-left: 37px;
    color:white;
    text-align: left;
    font-size: 14px;
}

#png:hover{
	background-color: rgba(0,60,136,0.9);
	cursor: pointer;
}

#attribution{
	display: none;
}

.logo{
	height: 45px;
	padding-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo-small{
	height: 23px;
	padding-right: 20px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.logo-small:hover{
	opacity: 0.7;
}

.logo:hover{
	opacity: 0.7;
}

.head{
	height: 3px;
    margin: 0px 0px 30px;
    background: rgba(61, 100, 102,0.6);//rgb(217, 255, 249);
    border-radius: 5px;
    margin-left: -20px;
}

.main-content{
	padding-left: 20px;
	padding-bottom: 20px;
}

.main-content p{
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-content h1{
	margin-left: -20px;
}




#next-page{
	float: right;
	margin-right: 50px;
}

#previous-page{
	margin-left: 50px;
}

.page-button{
	font-size: 18px;
	background-color: rgba(61, 100, 102);
	cursor: pointer;
	border-radius: 10%;
	padding: 1px 10px;
	margin-top: -3px;
	color: white;
}

.page-button:hover{
	opacity: 0.7;
}

.page-button:disabled{
	background-color: darkgrey;
	cursor: default;
}

.page-button:disabled:hover{
	opacity: 1;
}

#timerange{
	//display: inline;
	//hight: 30px;
	//width: 80px;
	margin-bottom: -5px;
	opacity: 0.3;
}

#timerange-outer{
	margin-bottom: 10px;
	padding: 3px;
	background-color: darkgrey;
	border: 2px solid #fff;
	border-radius: 4px;
}



#filterby{
	background-color: grey;
	padding-bottom: 5px;
	border-radius: 4px;
	margin-top: 2px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.filterby-outer{
	background-color: grey;
	margin-top: 2px;
	border-radius: 4px;
	padding: 3.5px;
	padding-left: 5px;
	font-size: 14px;
}

.collapse-btn{
	font-size: 16px;
	position: absolute;
	top: 35px;
	right: 15px;
	//float: right;
}

.collapse-btn button{
	color: white;
	cursor: pointer;
    border: 2px solid rgba(255,255,255,0.8);
    background-color: rgba(0,60,136,.7);
    border-radius: 50%;
   	padding-left: 8px;
   	padding-right: 8px;
   	padding-bottom: 0px;
   	padding-top: 0px;
   	display: inline;
   	margin: 0px;
}

.collapse-btn button:hover{
	opacity: 0.7;
}



select {
   //-webkit-appearance: none; 
   //-moz-appearance: none;
   //appearance: none;       /* remove default arrow */
    border: 2px solid rgba(255,255,255,0.8);
    //background-color: rgb(61, 100, 102);
    //color: white;
    margin-bottom: 7px;
}

select:hover{
	opacity: 0.7;
	cursor: pointer;
}

#filterDatasets{
	//float: right;
	cursor: pointer;
	border: 2px solid rgba(255,255,255,0.8);
    background-color: rgba(93, 62, 60, 0.8);// rgba(0,60,136,.5);
    color: white;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 1px;
    background-image: url(../img/filter.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 6px;
    padding-top: 4px;
    padding-left: 30px;
    font-size: 13px;
}



#filterDatasets:hover{
	opacity: 0.7;
}


/*Overwrite Timeslider CSS*/

.ui-rangeSlider-label{
	font-size: 11px !important;
	padding: 3px 6px;
}

.ui-rangeSlider-container{
	height: 18px;
	border: 2px solid rgba(255,255,255,0.8);
}
.ui-rangeSlider-noArrow .ui-rangeSlider-container{
	border: 2px solid rgba(255,255,255,0.8);
}

.ui-rangeSlider-bar{
	height: 15px;	
}

.ui-rangeSlider-container:hover{
	opacity: 0.8;
}


.ui-rangeSlider-label{
	background: none;
	background-color: rgba(061, 100, 102,0.9);
	border-color: none;
	box-shadow: none;
}
.ui-rangeSlider-label-inner{
	border-top: 10px solid rgba(61, 100, 102,0.9);
}

.ui-rangeSlider-innerBar{
	background-color: rgba(0,60,136,.2);
}

.ui-rangeSlider-bar{
	background-color: rgb(61, 100, 102);
	margin-top: 2px;
}

.ui-rangeSlider{
	padding-top: 37px;
}